.arsenal-page {
  color: #444444;
  background-color: #fefefe;
  font-family: "Tahoma", Arial, Sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

.main__section_switch {
  position: relative;
}

.more {
  font-size: 14px;
  text-transform: uppercase;
  color: #503737;
  display: block;
  text-align: center;
}

/*Header*/
.container_header {
  width: 940px;
  margin: 0 auto;
}

.container_full {
  width: 1000px;
  margin: 0 auto;
}

.container_small {
  width: 960px;
  margin: 0 auto;
}

/*User Block*/
.user-block {
  background-color: #af9559;
  min-height: 50px;
}

.user-block__item {
  display: inline-block;
  padding: 15px 0;
}

.user-block__address {
  margin-right: 95px;
}

.city-btn {
  background: none;
  border: none;
  border-bottom: 1px dotted #ffffff;
  color: #ffffff;
  padding: 0;
  cursor: pointer;
  line-height: 16px;
}

.address__city-btn {
  margin-right: 23px;
}

.street-btn {
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  padding: 0;
  cursor: pointer;
  line-height: 16px;
}

.phone-number {
  color: #ffffff;
  text-decoration: none;
}

.user-block__phone {
  margin-right: 40px;
}

.user-block__details {
  margin-right: 20px;
}

.details-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

.details__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.details__menu-item {
  display: inline;
  margin-right: 13px;
}

.profile-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px dotted #ffffff;
}

.profile__link {
  margin-right: 19px;
}

.login-button {
  cursor: pointer;
}

/*Search Block*/
.search-block {
  border-bottom: 1px solid #d9d9d9;
  min-height: 99px;
}

.search-block__item {
  display: inline-block;
}

.logo {
  height: 30px;
  width: 350px;
}

.logo__item {
  display: block;
}

.logo-img {
  text-align: center;
}

.logo-slogan {
  color: #777777;
  text-align: center;
}

.search-block__logo {
  margin-top: 20px;
  margin-right: 30px;
}

.search-block__field {
  margin-right: 23px;
}

.search-input {
  width: 378px;
  height: 40px;
  border: 1px solid #777777;
  border-radius: 2px;
  padding-left: 13px;
}

.search-field__form {
  position: relative;
}

.search-submit {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.search-form__input {
  vertical-align: middle;
}

.search-form__submit {
  position: absolute;
  top: 10px;
  right: 15px;
}

.cart {
  width: 148px;
  height: 38px;
  border: 1px solid #777777;
  border-radius: 2px;
  background-color: #f1f1f1;
  font-size: 0;
}

.cart__img {
  height: 20px;
  width: 25px;
}

.cart__inner {
  display: inline-block;
}

.cart__img {
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 9px;
}

.cart__text {
   font-size: 14px;
   padding-left: 0px;
   padding-right: 10px;
   vertical-align: text-bottom;
}

.cart__number {
  font-size: 12px;
  vertical-align: text-bottom;
  color: #ffffff;
  background-color: #c19d47;
  width: 24px;
  border-radius: 15px;
  text-align: center;
}

.search-block__cart {
  vertical-align: middle;
}

/*Menu*/
.menu-block {
  min-height: 60px;
  border-bottom: 2px solid #ef383f;
}

.menu-level {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.menu-level-1__menu-item {
  display: inline-block;
}

.menu-level-1 {
  position: relative;
}

.menu-level-2,
.menu-level-3 {
  /*display: none;*/
  position: absolute;
  height: 458px;
}

.menu-level-2 {
  width: 250px;
  height: 442px;
}

.menu-level-3 {
  width: 394px;
  font-size: 16px;
  padding-top: 22px;
  padding-left: 46px;
  color: #ffffff;
  list-style-type: disc;
  height: 436px;
}

.menu-level-1__menu-item {
  /*padding: 20px 15px;*/
}

.menu-block__link {
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #503737;
  vertical-align: middle;
  display: inline-block;
  padding: 20px 15px;
}

.menu-block__link_lvl2 {
  color: #ffffff;
  padding: 6.5px 15px;
  padding-left: 26px;
  display: block;
  font-size: 18px;
}

.menu-block__link_lvl3 {
  line-height: 30px;
  padding: 0;
  color: #ffffff;

}

.menu-block__link_lvl2:hover {
  background-color: #af9559;
}

.menu-level-1__link_bold {
  font-weight: bold;
  color: #c1a25a;
}

.instruments-sublevel {
  top: 62px;
  background-color: rgba(43, 43, 44, 0.8);
  padding-top: 16px;
  /*padding-left: 12px;*/
}

.percussion-sublevel {
  left: 250px;
  top: 0;
  background-color: #af9559;
}

/*Main*/
/*Banner*/
.banner-section {
  height: 460px;
}

/*Brands*/
.brands {
  height: 130px;
  font-size: 0;
}

.brand-link {
  font-size: 14px;
}

.brands__brand-link {
  display: inline-block;
}

.main__banner-switch_prev {
  position: absolute;
  
}
